{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>
    Nombre de la empresa: Tareas Fáciles S.A.

    Situación: Tareas Fáciles S.A. es una empresa ubicada en la ciudad de Buenos Aires, Argentina. La empresa tiene una oficina principal en el centro de la ciudad y cuenta con un equipo de profesionales altamente capacitados en el desarrollo de aplicaciones web y móviles.
    
    Visión: Nuestra visión en Tareas Fáciles S.A. es convertirnos en la herramienta líder en línea para facilitar la gestión de tareas y proyectos en todo el mundo. Queremos ayudar a las personas a organizar su vida diaria de manera eficiente y efectiva, brindando una solución fácil de usar y accesible a todos.
    
    Misión: Nuestra misión es proporcionar una herramienta en línea confiable y efectiva que permita a los usuarios mantener un seguimiento claro y organizado de sus tareas y proyectos en un solo lugar. Nos esforzamos por ofrecer una plataforma fácil de usar y accesible que satisfaga las necesidades de nuestros clientes, brindando una experiencia de usuario excelente y una atención al cliente excepcional.
    
    Objetivos: Los objetivos principales de Tareas Fáciles S.A. son los siguientes:
    
    Ofrecer una herramienta fácil de usar y accesible para ayudar a los usuarios a mantener un seguimiento claro y organizado de sus tareas y proyectos.
    Proporcionar una experiencia de usuario excelente y una atención al cliente excepcional para satisfacer las necesidades de nuestros clientes.
    Continuar desarrollando y mejorando nuestra plataforma para ofrecer nuevas funcionalidades y características a nuestros usuarios.
    Expandir nuestra presencia en todo el mundo y convertirnos en la herramienta líder en línea para facilitar la gestión de tareas y proyectos.

</p>

<p>Website created by {{ username }}</p>

{% endblock %}