{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>Organizá tu Tarea!</h1>

<img src="{% static 'Tareas.jpg' %}" alt="">

<p>"Bienvenido a nuestro facilitador de tareas en línea. Con nuestra herramienta, podrás agregar tareas y proyectos por separado para que puedas tildar las que ya estén completas a medida que las vayas realizando. Nuestra página es fácil de usar y te permitirá mantener un seguimiento claro y organizado de todas tus tareas y proyectos en un solo lugar. ¡Comienza a utilizar nuestra herramienta hoy mismo para facilitar tu vida diaria y aumentar tu productividad!"</p>

{% endblock %}